* /* selects everything */
{border: 1px solid black;
}

/* Descendant Selector - take 2+ tag names and chain them together */

li a {color: red;
}

/* Adjacent Selector - Select elements after another element */

h4 + ul {border: 4px solid blue;
}

/* Attribute Selector - select elements based on any attribute */

a[href="http://www.google.com"] {background: yellow}

/* Nth of type - takes a number, and selects every nth of a specific element*/

ul:nth-of-type(3){background: purple;
}

li:nth-of-type(3) {background: pink;
}

li:nth-of-type(even){background: cyan;
}

li:nth-of-type(odd) {text-transform: uppercase;
}